body
    {
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .flex
    {
        display: flex;
        flex-direction: column;
    }
    fieldset
    {
        background: white;
        flex-direction: column;
        border: 2px solid black;
        width: auto;
        margin: 15px;
    }
    .button
    {
        background: rgb(195, 210, 0) !important;
        color: white;
        
    }
    fieldset, .form
    {
        display: flex;   
    }
    p
    {
        margin: 0px;
    }
    .plogo
    {
        margin-top: 59px;
    }
    p:not(.col1>p, .col3>p, p.ele, p.pp, p.message, p.filename, p.trait, .formprinc>p, .client>p), .emplo>hr
    {
        color: white;
    }
    input[type="text"], input[type="email"], input[name="logo"], #rs
    {
        margin-bottom: 15px;
    }
    .col1, .col3, .col5
    {
        width: 173px;
    }
    .file
    {
        background: #D6D6D6;
        padding: 7px 7px 1px 7px;
        height: 19.33px;
    }
    .filename
    {
        margin-top: 5px;
        margin-left: 3px;
    }
    .file, .filename
    {
        font-size: 11.5px;
    }
    .results
    {
        display: grid;
        grid-template-areas: "coldeux"
                             "emplo";
        margin-top: 15px;
    }
    .emplo
    {
        grid-area: emplo;
        width: 83%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .coldeux
    {
        grid-area: coldeux;
    }
    .apercu, .pub
    {
        width: 95%;
    }
    .apercu
    {
        border: 2px solid black;
        margin-top: 10px;
    }
    .telecharger, .connexion
    {
        text-decoration: none;
        font-size: 13px;
        padding: 5px 7.5px 5px 7.5px;
    }
    .pub
    {
        max-height: 55px;
        background: red;
    }
    fieldset, .apercu
    {
        background: white;
    }
    .emplo>hr
    {
        color: white;
    }
.droite>h1
{
    font-size: 25px;
    text-align: center;
}
.croix
{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.croix>img
{
    width: 25px;
}
/* Cookies */
.bloqueur
{
    background: gray;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 99vh;
    top: 0px;
    display: flex;
}
.zonecookie
{
    background: black;
    opacity: 0.8;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 105px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}
.acceptcookie
{
    background: green;
    padding: 15px;
    margin-top: 30px;
}